<section class="main-app">
  <h1>Hello Angular</h1>
  <section class="action-btn">
    <button (click)="showPage(1)">Animals</button>
    <button (click)="showPage(2)">Season Clock</button>
    <button (click)="showPage(3)">Count Down</button>
    <button (click)="showPage(4)">Watcher App</button>
  </section>
</section>

<div *ngIf="currentPage === 1">
  <animal></animal>
</div>

<div *ngIf="currentPage === 2">
  <season-clock></season-clock>
</div>

<div *ngIf="currentPage === 3">
  <count-down></count-down>
</div>

<div *ngIf="currentPage === 4">
  <watcher-app></watcher-app>
</div>


