.main-app {
    background-color: #c6daf6;
    color: hsl(242, 29%, 25%);
    width: 100%;
    margin: 20px auto;
    color: 292929;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

    h1{
       padding: 20px;
    }
}